.hero {
  position: relative;
  height: 100vh; /* ocupa toda la pantalla */
  background: linear-gradient(45deg, #000000, #8a2be2) !important;
  /* negro → violeta en diagonal ↗ */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  color: black  ; /* asegura contraste */
}